<mat-sidenav-container>
  <mat-sidenav #sidenav mode="side" opened>
    <button mat-button routerLink="/">Home</button>

    <span class="section-title">Manage:</span>
    <button mat-button routerLink="/locations">Locations</button>
    <button mat-button routerLink="/devices">Devices</button>
    <button mat-button routerLink="/sensors">Sensors</button>
    <button mat-button routerLink="/actuators">Actuators</button>
    <button mat-button routerLink="/ip-cameras">IP Cameras</button>

    <span class="section-title">Locations:</span>
    <ng-container *ngFor="let location of locations">
      <button mat-button [routerLink]="['/locations', location.id]">{{ location.name }}</button>
    </ng-container>
  </mat-sidenav>

  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
